name: .NET ARM Staging

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runtime: [linux-arm]

    env:
      SOURCE_URL: "https://nuget.pkg.github.com/SchultzTechnology/index.json"
      SOURCE_USERNAME: ${{ vars.NUGET_SOURCE_USERNAME }}
      NUGET_AUTH_TOKEN: ${{ secrets.NUGET_AUTH_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore
        env:
          NUGET_AUTH_TOKEN: ${{ env.NUGET_AUTH_TOKEN }}

      - name: Publish self-contained app
        run: dotnet publish --configuration Release --runtime ${{ matrix.runtime }} --self-contained -o publish/${{ matrix.runtime }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: fetchit-listenerd-staging-${{ matrix.runtime }}
          path: publish/${{ matrix.runtime }}
          retention-days: 7